<nz-layout style="height: 100%;">

  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzBreakpoint]="'lg'">
    <!-- <div [class.big-logo]="!isCollapsed"  [class.small-logo]="isCollapsed" style="height: 65px;text-align: center;line-height: 65px;background-color:#fff;">仪器设备</div> -->
    <div class="logo-box">
      <div class="small-logo" [hidden]="!isCollapsed">NG</div>
      <div class="big-logo" [hidden]="isCollapsed">Angular</div>
    </div>
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <!-- <li [class.li-big-menu]="!isCollapsed" [class.li-small-menu]="isCollapsed" style="height: 42px;">
        <span title>
            <i class="anticon anticon-home"></i>
            <span class="nav-text">首页</span>
        </span>
      </li> -->
      <li nz-submenu *ngFor="let menu of menus">
        <span title>
          <i class="anticon {{menu.icon ? menu.icon : anticon-user}}"></i>
          <span class="nav-text">{{menu.name}}</span>
        </span>
        <ul>
          <li nz-menu-item *ngFor="let child of menu.children">
            <a href="javascript:void(0);" routerLink="{{child.route?child.route:'/home'}}">
              <i class="fa fa-fw {{child.icon?child.icon:'fa-bars'}}"></i>
              <span>{{child.name}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;overflow-y:auto;" >
          <div *ngFor="let menu of menus" ngSwitch="{{menu.name}}">
            <nz-breadcrumb style="margin:12px 0;" *ngSwitchCase="'权限管理'">
                <nz-breadcrumb-item>{{menu.name}}</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
          </div>

          <div style="padding:24px; background: #fff; min-height: 360px;">
              <router-outlet></router-outlet>
          </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>

