
<div nz-row [@fadeIn]="'active'">
  <div nz-col [nzSpan]="24" [nzOffset]="0">
      <div *ngFor="let menu of menus">
          <nz-breadcrumb style="margin:12px 0;" >
            <nz-breadcrumb-item>
                <i class="anticon anticon-user"></i>
                {{menu.name}}
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <i class="fa fa-fw {{menu.childIcon?menu.childIcon:'fa-bars'}}"></i>
                {{menu.childName}}
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
        <div style="padding:24px; background: #fff; min-height: 600px;">
          <router-outlet></router-outlet>
          <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10" [nzShowSizeChanger]="true" nzShowQuickJumper (nzDataChange)="_displayDataChange($event)"
            (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
            <thead nz-thead>
              <tr>
                <th nz-th [nzCheckbox]="true">
                  <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                  </label>
                </th>
                <th nz-th>
                  <span>Name</span>
                  <nz-table-sort [(nzValue)]="sortMap.name" (nzValueChange)="sort('name',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                  <span>Age</span>
                  <nz-table-sort [(nzValue)]="sortMap.age" (nzValueChange)="sort('age',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                  <span>Address</span>
                  <nz-table-sort [(nzValue)]="sortMap.address" (nzValueChange)="sort('address',$event)"></nz-table-sort>
                </th>
                <th nz-th><span>Action</span></th>
              </tr>
            </thead>
            <tbody nz-tbody>
              <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td [nzCheckbox]="true">
                  <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                  </label>
                </td>
                <td nz-td>
                  <a>{{data.name}}</a>
                </td>
                <td nz-td>{{data.age}}</td>
                <td nz-td>{{data.address}}</td>
                <td nz-td>
                    <span>
                      <a href="javascript:void(0);">Delete</a>
                    </span>
                    </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
  </div>
</div>
